.table {
    display: flex;
    flex-direction: column;
    gap: 10px;

    table {
        border-collapse: collapse;
    }
}

.head {
    color: grey;
    border-bottom: 5px solid white;
}
.activeHead {
    display: flex;
    gap: 4px;

    div {
        cursor: pointer;
    }
}

.body {
    font-weight: bold;
}
.statusCircul {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 5px;
}
.row {
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
    border-bottom: 5px solid white;

    td {
        padding: 15px 5px;
    }
}

.noData {
    text-align: center !important;
}

tr > td {
    text-align: center;
}
tr > td:first-child {
    text-align: left;
}