.button {
    cursor: pointer;
    background: none;
    border: 1px solid #bb1bbc;
    padding: 5px 10px;
    border-radius: 5px;
    color: #bb1bbc;

    &:hover {
        background: #bb1bbc;
        color: white;
    }
    &:active {
        background: #660f66;
    }
}